SECRET_KEY=django-insecure-g-ezjlgj-%+@4dex66^cp5@*!3+4vlgrcj*=%epmmll)guuhsf
JWT=b'RO6dzcIdOALyvuAT7PEjQQoGeu0='
ALLOWED_HOSTS=127.0.0.1
DB_HOST=db
DB_NAME=app
DB_USER=postgres
DB_PASS=supersecretpassword
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
DBSECRET=RO6dzcIdOALyvuAT7PEjQQoGeu0
CELERY_BROKER=redis://redis:6379
CELERY_BACKEND=redis://redis:6379
SALT=b'\xbd\x9f-9-\x96\x1dD\xbc\xcbG\t\x13\xc99\xa0'
SALT2=40vVSz9Wl-R2FfazhIYCTLHcmUC0aqhRXTuQ5gCrNAY=
DEBUG=1
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USER=olorunsholamatins@gmail.com
EMAIL_HOST_PASSWORD=qxiikzqepqsmvyhz
EMAIL_USE_TLS=True
EMAIL_USE_SSL=True
API_ACCESS = jfjfdsnsddsdsiuiwo0904u4
